#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #0a0e14;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.counter-app-wrapper button {
  margin-bottom: 10px;
}

.counter-app-wrapper h2,
.counter-app-wrapper p {
  color: #ffffff;
}

.counter-app-wrapper h2 {
  padding: 10px;
  background-color: #0a0e14;
  border-radius: 20px 20px 0 0px;

  margin: 0;
}

.counter-app-wrapper p {
  font-size: 75px;
  font-weight: bolder;
  background-color: #e8f800;
  color: #0a0e14;
  width: 50%;
  margin: 0;
  text-align: center;
  padding: 35px;
  vertical-align: middle;
  border-radius: 10px;
}

.counter-app-wrapper {
  padding: 0px;
  background-color: #111820;
  border: 1px solid #1d242c;
  border-radius: 20px;
  box-shadow: 0px 0px 70px 3px #182330;
}

.counter-app-wrapper-inner {
  padding: 35px;
}

.counter-app-wrapper-inner {
  display: flex;
}

.counter-btn {
  padding-left: 25px;
}

.counter-btn button {
  width: 100%;
  padding: 15px 75px;
}

.counter-btn Button:focus-visible {
  outline: none !important;
}

/*Mobile view*/

@media only screen and (max-width: 600px) {
  .counter-app-wrapper-inner {
    padding: 25px;
  }

  .counter-app-wrapper-inner {
    display: flex;
    flex-direction: column;
  }

  .counter-app-wrapper-inner p {
    width: unset;
    padding: 25px;
    margin-bottom: 10px;
  }

  .counter-btn {
    padding-left: unset;
  }

  .counter-btn button {
    padding: 15px 60px;
  }
}